html{
	width: 100%;
	height: 100%;
	font-family: calibri, serif;
}

body{
	margin: 0;
	padding: 0;
}

#left_menu{
	overflow: initial;
	float:left;
	/*margin: 0 2vw 0 2vw;	*/
	position: -webkit-sticky;
  	position: static;
  	top: 0;
  	width: 100%;
}

/*#left_menu #menu{*/
/*	display: none;*/
/*}*/

/*.verticalMenu{*/
/*	color: white;*/
/*	width: 100%;*/
/*	text-align: center;*/
/*	background: #0f6e21;*/
/*	font-size: 1.2em;*/
/*	display: block;*/
/*}*/

/*#left_menu nav a{*/
/*	display: block;*/
/*}*/

/*nav a{*/
/*	!*display: block;*!*/
/*	text-decoration: none;*/
/*	font-weight: bold;*/
/*	color: white;*/
/*	font-size: 1.2em;*/
/*	text-align: center;*/
/*	padding: 0.3vh;*/
/*	margin: 2px 0 0 0;*/
/*	background: #0f6e21;*/
/*}*/

/*nav a:hover{*/
/*	color: #13902a;*/
/*}*/

#test{
	padding: 1vh 0 3vh 0;
	width: 100%;
	min-height: 80vh;
	background: white;
	float:left;
	text-align: center;
}

/*horná lišta---------------------------------*/

/*.testEdit{*/
/*	width: 100%;*/
/*	background: white;*/
/*	height: 8vh;*/
/*}*/

/*stopky------------------------------------------*/

/*#stopwatch{*/
/*	width: 33%;*/
/*	!*background: green;*!*/
/*	padding: 2vh 0;*/
/*	height: 6vh;*/
/*	float: left;*/
/*	font-size: 1.2rem;*/
/*	font-weight: bold;*/
/*	text-align: center;*/
/*}*/

/*test/kviz---------------------------------------------*/

#resetTestBtn{
	display: none;
}

.result{
	width: 34%;
	/*background: red;*/
	padding: 2vh 0;
	height: 6vh;
	float: left;
	font-size: 1.2rem;
}

.custom-card-time{
	width: 60%;
	top: 15px;
	margin-left: auto;
	margin-right: auto;
}


.custom-card-time > .custom-card-header,.modal-header, .custom-card-result > .custom-card-header{
	background-color: #56ab91;
	color: white;
}

#quiz{
	width: 90%;
	/*background: yellow;*/
	margin: 1vh auto;
	text-align: left;
}

.correctAns{
	font-size: 1.3em;
	margin-bottom: 1vh;
	color: #2fbf71;
	display: none;
}

