html{
	width: 100%;
	height: 100%;
	font-family: calibri;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

body{
	margin: 0;
	padding: 0;
}

/*index*/

#bckgrnd{	
	background-image: url("../img/raspberry-pi.jpg");
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	width: 100vw;
	height: 100vh;	
	/*margin: 0;*/
	/*margin: 0 auto;*/
}

.ccimage{
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: rgba(256,256,256,25%);
	cursor: pointer;
}

/*index*/
/*#menu{*/
/*	width: 20%;*/
/*	!*margin: auto;*!*/
/*	position: absolute;*/
/*  	top: 50%;*/
/* 	left: 50%;*/
/*  	transform: translate(-50%, -50%);*/
/*}*/

/*!*index*!*/
/*nav a{*/
/*	display: block;*/
/*	text-decoration: none;*/
/*	font-weight: bold;*/
/*	color: white;*/
/*	text-shadow: 2px 2px black;*/
/*	font-size: 2vW;*/
/*	text-align: center;*/
/*	padding: 5vh;*/
/*	margin: 20px;*/
/*}*/

/*nav a:hover{*/
/*	color: yellow;*/
/*}*/

/*#microPC{*/
/*	text-decoration: none;*/
/*	color: white;*/
/*	text-shadow: 2px 2px black;*/
/*	font-weight: bold;*/
/*	!*padding: 1vw;*/
/*	position: absolute;*/
/*	right:    0;*/
/*	bottom:   0;*/
/*	margin-right: 10vw;*/
/*	margin-left: 1vw;*!*/
/*}*/

/*.header{*/
/*	text-align: center;*/
/*	font-weight: bold;*/
/*	color: white;*/
/*	text-shadow: 2px 2px black;*/
/*	font-size: 2vW;*/
/*	position: absolute;*/
/*	top: 5%;*/
/*	left: 35%;*/
/*}*/